* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background:
        linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
        url("../fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.login-container {
    display: flex;
    gap: 60px;
    align-items: center;
}

/* Bienvenida */
.welcome h1 {
    font-size: 48px;
    color: #ff3333;
    margin-bottom: 15px;
}

.welcome p {
    font-size: 18px;
    opacity: 0.9;
}

/* Caja login */
.login-box {
    background-color: #1e1e1e;
    padding: 30px 35px;
    border-radius: 14px;
    width: 320px;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.4);
}

.login-box h2 {
    margin-bottom: 20px;
    color: #ff4444;
    text-align: center;
}

.login-box label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 14px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #2a2a2a;
    color: white;
}

.login-box button {
    width: 100%;
    padding: 12px;
    background-color: #ff3333;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #ff5555;
}
.crear-cuenta {
    display: block;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
    background-color: #444;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.crear-cuenta:hover {
    background-color: #666;
}