<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Kagaribi 13 | Smash Hub</title>

    <!-- CSS (static/css) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tournament.css') }}">
</head>
<body>

    <header class="header">
        <h1>Smash Hub</h1>
    </header>

    <main class="grid-container">

        <section class="sidebar">
            <h2>Navegación</h2>
            <ul>
                <li><a href="{{ url_for('proximos_page') }}">Próximos torneos</a></li>
                <li><a href="{{ url_for('anteriores_page') }}">Torneos terminados</a></li>
                <li><a href="{{ url_for('jugadores_page') }}">Jugadores</a></li>
            </ul>
        </section>

        <section class="content">

            <section class="banner">
                <img src="https://images.start.gg/images/tournament/755446/image-965b61a1f2bde43a374eb82347f90858.png" alt="Kagaribi Banner">
            </section>

            <section class="tournament-layout">
                <section class="tournament-info">

                    <div class="tournament-card">
                        <img src="{{ url_for('static', filename='Torneos/kagaribi.webp') }}" alt="Kagaribi Logo">
                    </div>

                    <div class="tournament-details">
                        <h2>Kagaribi 13</h2>
                        <p><strong>Tier:</strong> SP</p>
                        <p><strong>Fecha:</strong> May 04 - May 05, 2025</p>
                        <p><strong>Lugar:</strong> Tokorozawa, Saitama</p>
                    </div>

                </section>

                <section class="participants">
                    <h2>Participantes más relevantes</h2>

                    <ul class="participants-container">

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/steve.png') }}">
                            <span>Acola</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/mr game and watch.png') }}">
                            <span>Miya</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/diddy kong.png') }}">
                            <span>Tweek</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/snake.png') }}">
                            <span>Hurt</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/cloud.png') }}">
                            <span>Sparg0</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/joker.png') }}">
                            <span>MkLeo</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/Wario.png') }}">
                            <span>Glutonny</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/rob.png') }}">
                            <span>Zomba</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/Fox.png') }}">
                            <span>Light</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/sonic.png') }}">
                            <span>Sonix</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/ryu.png') }}">
                            <span>Asimo</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/luigi.png') }}">
                            <span>Raru</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/min min.png') }}">
                            <span>Doramigi</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/olimar.png') }}">
                            <span>Shuton</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/steve.png') }}">
                            <span>Carmelo</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/kazuya.png') }}">
                            <span>Tea</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/steve.png') }}">
                            <span>Syrup</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/roy.png') }}">
                            <span>Kola</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/Pikachu.png') }}">
                            <span>Shinymark</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/palutena.png') }}">
                            <span>Raflow</span>
                        </li>

                    </ul>
                </section>
            </section>
            <section class="top8">
                <h2>Top 8</h2>

                <div class="phase">
                    <h3>Grand Finals</h3>
                    <div class="match highlight">
                        <div class="player">
                            <img src="{{ url_for('static', filename='PJ/steve.png') }}">
                            <span>Acola</span>
                        </div> 
                        <div class="score">
                            <span class="points">3</span>
                            <span class="dash">-</span>
                            <span class="points">1</span>
                        </div>
                        <div class="player">
                            <img src="{{ url_for('static', filename='PJ/luigi.png') }}">
                            <span>Raru</span>
                        </div>
                    </div>
                </div>

                <div class="phase">
                    <div class="match highlight">
                        <div class="player">
                            <img src="{{ url_for('static', filename='PJ/luigi.png') }}">
                            <span>Raru</span>
                        </div> 
                        <div class="score">
                            <span class="points">1</span>
                            <span class="dash">-</span>
                            <span class="points">3</span>
                        </div>
                        <div class="player">
                            <img src="{{ url_for('static', filename='PJ/steve.png') }}">
                            <span>Acola</span>
                        </div>
                    </div>
                </div>

                <div class="phase">
                    <h3>Losers Finals</h3>
                    <div class="match">
                        <div class="player">
                            <img src="{{ url_for('static', filename='PJ/steve.png') }}">
                            <span>Acola</span>
                        </div>
                        <div class="score">
                            <span class="points">3</span>
                            <span class="dash">-</span>
                            <span class="points">2</span>
                        </div>
                        <div class="player">
                            <img src="{{ url_for('static', filename='PJ/mr game and watch.png') }}">
                            <span>Miya</span>
                        </div>
                    </div>
                </div>

                <div class="phase">
                    <h3>Losers Semis</h3>
                    <div class="match">
                        <div class="player">
                            <img src="{{ url_for('static', filename='PJ/diddy kong.png') }}">
                            <span>Tweek</span>
                        </div>
                        <div class="score">
                            <span class="points">0</span>
                            <span class="dash">-</span>
                            <span class="points">3</span>
                        </div>
                        <div class="player">
                            <img src="{{ url_for('static', filename='PJ/mr game and watch.png') }}">
                            <span>Miya</span>
                        </div>
                    </div>
                </div>

                <div class="phase">
                    <h3>Winners Finals</h3>
                    <div class="match">
                        <div class="player">
                            <img src="{{ url_for('static', filename='PJ/luigi.png') }}">
                            <span>Raru</span>
                        </div>
                        <div class="score">
                            <span class="points">3</span>
                            <span class="dash">-</span>
                            <span class="points">1</span>
                        </div>
                        <div class="player">
                            <img src="{{ url_for('static', filename='PJ/steve.png') }}">
                            <span>Acola</span>
                        </div>
                    </div>
                </div>

                <div class="phase">
                    <h3>Losers Quarters</h3>
                    <div class="match">
                        <div class="player">
                            <img src="{{ url_for('static', filename='PJ/diddy kong.png') }}">
                            <span>Tweek</span>
                        </div>
                        <div class="score">
                            <span class="points">3</span>
                            <span class="dash">-</span>
                            <span class="points">1</span>
                        </div>
                        <div class="player">
                            <img src="{{ url_for('static', filename='PJ/min min.png') }}">
                            <span>Doramigi</span>
                        </div>
                    </div>
                </div>

                <div class="phase">
                    <div class="match">
                        <div class="player">
                            <img src="{{ url_for('static', filename='PJ/sonic.png') }}">
                            <span>Wrath</span>
                        </div>
                        <div class="score">
                            <span class="points">1</span>
                            <span class="dash">-</span>
                            <span class="points">3</span>
                        </div>
                        <div class="player">
                            <img src="{{ url_for('static', filename='PJ/mr game and watch.png') }}">
                            <span>Miya</span>
                        </div>
                    </div>
                </div>

                <div class="phase">
                    <h3>Winners Semis</h3>
                    <div class="match">
                        <div class="player">
                            <img src="{{ url_for('static', filename='PJ/sonic.png') }}">
                            <span>Wrath</span>
                        </div>
                        <div class="score">
                            <span class="points">0</span>
                            <span class="dash">-</span>
                            <span class="points">3</span>
                        </div>
                        <div class="player">
                            <img src="{{ url_for('static', filename='PJ/luigi.png') }}">
                            <span>Raru</span>
                        </div>
                    </div>
                </div>

                <div class="phase">
                    <div class="match">
                        <div class="player">
                            <img src="{{ url_for('static', filename='PJ/steve.png') }}">
                            <span>Acola</span>
                        </div>
                        <div class="score">
                            <span class="points">3</span>
                            <span class="dash">-</span>
                            <span class="points">2</span>
                        </div>
                        <div class="player">
                            <img src="{{ url_for('static', filename='PJ/diddy kong.png') }}">
                            <span>Tweek</span>
                        </div>
                    </div>
                </div>

                <div class="phase">
                    <h3>Losers Eights</h3>
                    <div class="match">
                        <div class="player">
                            <img src="{{ url_for('static', filename='PJ/min min.png') }}">
                            <span>Doramigi</span>
                        </div>
                        <div class="score">
                            <span class="points">3</span>
                            <span class="dash">-</span>
                            <span class="points">0</span>
                        </div>
                        <div class="player">
                            <img src="{{ url_for('static', filename='PJ/Wario.png') }}">
                            <span>Glutonny</span>
                        </div>
                    </div>
                </div>

                <div class="phase">
                    <div class="match">
                        <div class="player">
                            <img src="{{ url_for('static', filename='PJ/mr game and watch.png') }}">
                            <span>Miya</span>
                        </div>
                        <div class="score">
                            <span class="points">3</span>
                            <span class="dash">-</span>
                            <span class="points">0</span>
                        </div>
                        <div class="player">
                            <img src="{{ url_for('static', filename='PJ/steve.png') }}">
                            <span>Carmelo</span>
                        </div>
                    </div>
                </div>

            </section>

        </section>

    </main>

    <footer class="footer">
        <p>© 2025 Smash Hub</p>
    </footer>

</body>
</html>