<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Supernova 2025 | Smash Hub</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../tournament.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap" rel="stylesheet">

</head>
<body>

    <header class="header">
        <h1>Smash Hub</h1>
    </header>

    <main class="grid-container">

        <section class="sidebar">
            <h2>Navegación</h2>
            <ul>
                <li><a href="../Proximos.html">Próximos torneos</a></li>
                <li><a href="../Anteriores.html">Torneos terminados</a></li>
                <li><a href="../Jugadores/Jugadores.html">Jugadores</a></li>
            </ul>
        </section>

        <section class="content">

            <section class="banner">
                <img src="https://images.start.gg/images/tournament/777707/image-abf44326a75b54b930b91daa9887bec9.jpg" alt="Supernova 2025 Banner">
            </section>
            <section class="tournament-info">

                <div class="tournament-card">
                    <img src="../Torneos/supernova.webp" alt="Supernova 2025 logo">
                </div>

                <div class="tournament-details">
                    <h2>Supernova 2025</h2>
                    <p><strong>Tier:</strong> P</p>
                    <p><strong>Fecha:</strong> Ago 07- Ago 10, 2025</p>
                    <p><strong>Lugar:</strong> Chantilly, VA</p>
                </div>

            </section>

            <section class="participants">
                <h2>Participantes más relevantes</h2>

                <ul class="participants-container">

                    <li class="participant">
                        <img src="../PJ/mr game and watch.png" alt="">
                        <span>Miya</span>
                    </li>

                    <li class="participant">
                        <img src="../PJ/snake.png" alt="">
                        <span>Hurt</span>
                    </li>

                    <li class="participant">
                        <img src="../PJ/cloud.png" alt="">
                        <span>Sparg0</span>
                    </li>

                    <li class="participant">
                        <img src="../PJ/joker.png" alt="">
                        <span>MkLeo</span>
                    </li>

                    <li class="participant">
                        <img src="../PJ/rob.png" alt="">
                        <span>Zomba</span>
                    </li>

                    <li class="participant">
                        <img src="../PJ/Fox.png" alt="">
                        <span>Light</span>
                    </li>

                    <li class="participant">
                        <img src="../PJ/sonic.png" alt="">
                        <span>Sonix</span>
                    </li>

                    <li class="participant">
                        <img src="../PJ/luigi.png" alt="">
                        <span>Raru</span>
                    </li>

                    <li class="participant">
                        <img src="../PJ/min min.png" alt="">
                        <span>Doramigi</span>
                    </li>

                    <li class="participant">
                        <img src="../PJ/olimar.png" alt="">
                        <span>Shuton</span>
                    </li>

                    <li class="participant">
                        <img src="../PJ/steve.png" alt="">
                        <span>Syrup</span>
                    </li>

                    <li class="participant">
                        <img src="../PJ/Mega man.png" alt="">
                        <span>Peabnut</span>
                    </li>

                    <li class="participant">
                        <img src="../PJ/kazuya.png" alt="">
                        <span>Tea</span>
                    </li>

                    <li class="participant">
                        <img src="../PJ/roy.png" alt="">
                        <span>Kola</span>
                    </li>

                    <li class="participant">
                        <img src="../PJ/palutena.png" alt="">
                        <span>Raflow</span>
                    </li>

                </ul>
            </section>

            <section class="top8">
                <h2>Top 8</h2>

                <div class="phase">
                    <h3>Grand Finals</h3>
                    <div class="match highlight">
                        <div class="player">
                            <img src="../PJ/mr game and watch.png">
                            <span>Miya</span>
                        </div> 
                        <div class="score">
                            <span class="points">3</span>
                            <span class="dash">-</span>
                            <span class="points">0</span>
                        </div>
                        <div class="player">
                            <img src="../PJ/min min.png">
                            <span>Doramigi</span>
                        </div>
                    </div>
                </div>

                <div class="phase">
                    <h3>Losers Finals</h3>
                    <div class="match">
                        <div class="player">
                            <img src="../PJ/sonic.png">
                            <span>Hurt</span>
                        </div>
                        <div class="score">
                            <span class="points">1</span>
                            <span class="dash">-</span>
                            <span class="points">3</span>
                        </div>
                        <div class="player">
                            <img src="../PJ/min min.png">
                            <span>Doramigi</span>
                        </div>
                    </div>
                </div>

                <div class="phase">
                    <h3>Losers Semis</h3>
                    <div class="match">
                        <div class="player">
                            <img src="../PJ/cloud.png">
                            <span>Sparg0</span>
                        </div>
                        <div class="score">
                            <span class="points">1</span>
                            <span class="dash">-</span>
                            <span class="points">3</span>
                        </div>
                        <div class="player">
                            <img src="../PJ/min min.png">
                            <span>Doramigi</span>
                        </div>
                    </div>
                </div>

                <div class="phase">
                    <h3>Winners Finals</h3>
                    <div class="match">
                        <div class="player">
                            <img src="../PJ/mr game and watch.png">
                            <span>Miya</span>
                        </div>
                        <div class="score">
                            <span class="points">3</span>
                            <span class="dash">-</span>
                            <span class="points">2</span>
                        </div>
                        <div class="player">
                            <img src="../PJ/snake.png">
                            <span>Hurt</span>
                        </div>
                    </div>
                </div>

                <div class="phase">
                    <h3>Losers Quarters</h3>
                    <div class="match">
                        <div class="player">
                            <img src="../PJ/Mega man.png">
                            <span>Peabnut</span>
                        </div>
                        <div class="score">
                            <span class="points">1</span>
                            <span class="dash">-</span>
                            <span class="points">3</span>
                        </div>
                        <div class="player">
                            <img src="../PJ/cloud.png">
                            <span>Sparg0</span>
                        </div>
                    </div>
                </div>

                <div class="phase">
                    <div class="match">
                        <div class="player">
                            <img src="../PJ/min min.png">
                            <span>Doramigi</span>
                        </div>
                        <div class="score">
                            <span class="points">Pass</span>
                            <span class="dash">-</span>
                            <span class="points">DQ</span>
                        </div>
                        <div class="player">
                            <img src="../PJ/steve.png">
                            <span>Onin</span>
                        </div>
                    </div>
                </div>

                <div class="phase">
                    <h3>Winners Semis</h3>
                    <div class="match">
                        <div class="player">
                            <img src="../PJ/sonic.png">
                            <span>Hurt</span>
                        </div>
                        <div class="score">
                            <span class="points">3</span>
                            <span class="dash">-</span>
                            <span class="points">2</span>
                        </div>
                        <div class="player">
                            <img src="../PJ/min min.png">
                            <span>Doramigi</span>
                        </div>
                    </div>
                </div>

                <div class="phase">
                    <div class="match">
                        <div class="player">
                            <img src="../PJ/Mega man.png">
                            <span>Peabnut</span>
                        </div>
                        <div class="score">
                            <span class="points">2</span>
                            <span class="dash">-</span>
                            <span class="points">3</span>
                        </div>
                        <div class="player">
                            <img src="../PJ/mr game and watch.png">
                            <span>Miya</span>
                        </div>
                    </div>
                </div>

                <div class="phase">
                    <h3>Losers Eights</h3>
                    <div class="match">
                        <div class="player">
                            <img src="../PJ/steve.png">
                            <span>Syrup</span>
                        </div>
                        <div class="score">
                            <span class="points">1</span>
                            <span class="dash">-</span>
                            <span class="points">3</span>
                        </div>
                        <div class="player">
                            <img src="../PJ/cloud.png">
                            <span>Sparg0</span>
                        </div>
                    </div>
                </div>

                <div class="phase">
                    <div class="match">
                        <div class="player">
                            <img src="../PJ/steve.png">
                            <span>Onin</span>
                        </div>
                        <div class="score">
                            <span class="points">3</span>
                            <span class="dash">-</span>
                            <span class="points">2</span>
                        </div>
                        <div class="player">
                            <img src="../PJ/ken.png">
                            <span>Jahzz0</span>
                        </div>
                    </div>
                </div>

            </section>

        </section>

    </main>

    <footer class="footer">
        <p>© 2025 Smash Hub</p>
    </footer>

</body>
</html>