<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Smash Hub | Jugadores</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Jugadores.css') }}">
</head>
<body>

    <header class="header">
        <h1>Smash Hub</h1>
    </header>

    <main class="grid-container">
        
        <section class="sidebar">
            <h2>Navegación</h2>
            <ul>
                <li><a href="{{ url_for('proximos_page') }}">Próximos torneos</a></li>
                <li><a href="{{ url_for('anteriores_page') }}">Torneos terminados</a></li>
                <li><a href="{{ url_for('jugadores_page') }}">Jugadores</a></li>
            </ul>
        </section>

        <section class="content">
            <h2 class="section-title">Ranking de jugadores</h2>
            <div class="players-grid"></div>
        </section>

    </main>

    <footer class="footer">
        <p>© 2025 Smash Hub</p>
    </footer>

    <!-- JS -->
    <script>
    const STATIC_PJ_URL = "{{ url_for('static', filename='PJ/') }}";
    </script>
    <script src="{{ url_for('static', filename='js/JugadoresData.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Jugadores.js') }}"></script>

</body>
</html>