<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Afterburner 2026 | Smash Hub</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../tournament.css">
</head>
<body>

    <header class="header">
        <h1>Smash Hub</h1>
    </header>

    <main class="grid-container">

        <section class="sidebar">
            <h2>Navegación</h2>
            <ul>
                <li><a href="../Proximos.html">Próximos torneos</a></li>
                <li><a href="../Anteriores.html">Torneos terminados</a></li>
                <li><a href="../Jugadores/Jugadores.html">Jugadores</a></li>
            </ul>
        </section>

        <section class="content">

            <section class="banner">
                <img src="https://images.start.gg/images/tournament/806744/image-d4b6d0afad64dfbc68a27c0412305944.png" alt="Afterburner Banner">
            </section>
            <section class="tournament-info">

                <div class="tournament-card">
                    <img src="../Torneos/afterburner.webp" alt="Afterburner Logo">
                </div>

                <div class="tournament-details">
                    <h2>Afterburner 2026</h2>
                    <p><strong>Tier:</strong> A</p>
                    <p><strong>Fecha:</strong> Ene 16 - Ene 18, 2026</p>
                    <p><strong>Lugar:</strong> Auburn, Indiana</p>
                </div>

            </section>

            <section class="participants">
                <h2>Participantes más relevantes</h2>

                <ul class="participants-container">

                    <li class="participant">
                        <img src="../PJ/mr game and watch.png" alt="">
                        <span>Miya</span>
                    </li>

                    <li class="participant">
                        <img src="../PJ/Mega man.png" alt="">
                        <span>Peabnut</span>
                    </li>

                    <li class="participant">
                        <img src="../PJ/Fox.png" alt="">
                        <span>Light</span>
                    </li>

                    <li class="participant">
                        <img src="../PJ/rob.png" alt="">
                        <span>Zomba</span>
                    </li>

                    <li class="participant">
                        <img src="../PJ/roy.png" alt="">
                        <span>Kola</span>
                    </li>

                    <li class="participant">
                        <img src="../PJ/rob.png" alt="">
                        <span>MKBigBoss</span>
                    </li>

                    <li class="participant">
                        <img src="../PJ/palutena.png" alt="">
                        <span>Lui$</span>
                    </li>

                    <li class="participant">
                        <img src="../PJ/snake.png" alt="">
                        <span>ApolloKage</span>
                    </li>
                </ul>
            </section>

        </section>

    </main>

    <footer class="footer">
        <p>© 2025 Smash Hub</p>
    </footer>

</body>
</html>