<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Genesis X3 | Smash Hub</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tournament.css') }}">
</head>
<body>

    <header class="header">
        <h1>Smash Hub</h1>
        <a href="{{ url_for('login_page') }}" class="logout-btn">
        Salir
        </a>
    </header>

    <main class="grid-container">

        <section class="sidebar">
            <h2>Navegación</h2>
            <ul>
                <li><a href="{{ url_for('proximos_page') }}">Próximos torneos</a></li>
                <li><a href="{{ url_for('anteriores_page') }}">Torneos terminados</a></li>
                <li><a href="{{ url_for('jugadores_page') }}">Jugadores</a></li>
            </ul>
        </section>

        <section class="content">

            <!-- Banner -->
            <section class="banner">
                <img src="https://images.start.gg/images/tournament/756975/image-3f28d9f63230dfa799dc3fb40702352d.png"
                     alt="Genesis X3 Banner">
            </section>

            <!-- CONTENEDOR FLEX -->
            <div class="tournament-layout">

                <!-- INFO TORNEO -->
                <section class="tournament-info">

                    <div class="tournament-card">
                        <img src="{{ url_for('static', filename='Torneos/genesis x3.webp') }}"
                             alt="Genesis X3 Logo">
                    </div>

                    <div class="tournament-details">
                        <h2>Genesis X3</h2>
                        <p><strong>Tier:</strong> P</p>
                        <p><strong>Fecha:</strong> Feb 13 - Feb 15, 2026</p>
                        <p><strong>Lugar:</strong> San Jose, California</p>
                    </div>

                </section>

                <!-- PARTICIPANTES -->
                <section class="participants">
                    <h2>Participantes más relevantes</h2>

                    <ul class="participants-container">

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/steve.png') }}">
                            <span>Acola</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/mr game and watch.png') }}">
                            <span>Miya</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/diddy kong.png') }}">
                            <span>Tweek</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/snake.png') }}">
                            <span>Hurt</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/Wario.png') }}">
                            <span>Glutonny</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/rob.png') }}">
                            <span>Zomba</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/ryu.png') }}">
                            <span>Asimo</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/luigi.png') }}">
                            <span>Raru</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/min min.png') }}">
                            <span>Doramigi</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/palutena.png') }}">
                            <span>Lui$</span>
                        </li>

                    </ul>
                </section>

            </div>

        </section>

    </main>

    <footer class="footer">
        <p>© 2025 Smash Hub</p>
    </footer>

</body>
</html>
