<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>LMBM 2026 | Smash Hub</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tournament.css') }}">
</head>
<body>

    <header class="header">
        <h1>Smash Hub</h1>
        <a href="{{ url_for('login_page') }}" class="logout-btn">
        Salir
        </a>
    </header>

    <main class="grid-container">

        <section class="sidebar">
            <h2>Navegación</h2>
            <ul>
                <li><a href="{{ url_for('proximos_page') }}">Próximos torneos</a></li>
                <li><a href="{{ url_for('anteriores_page') }}">Torneos terminados</a></li>
                <li><a href="{{ url_for('jugadores_page') }}">Jugadores</a></li>
            </ul>
        </section>

        <section class="content">

            <!-- Banner -->
            <section class="banner">
                <img src="https://images.start.gg/images/tournament/813640/image-67f83a04fde787791d9012044e769ec4.png" alt="LMBM Banner">
            </section>

            <div class="tournament-layout">

                <!-- INFO TORNEO -->
                <section class="tournament-info">

                    <div class="tournament-card">
                        <img src="{{ url_for('static', filename='Torneos/LMBM.webp') }}" alt="LMBM Logo">
                    </div>

                    <div class="tournament-details">
                        <h2>Let's Make BIG Moves 2026</h2>
                        <p><strong>Tier:</strong> S+</p>
                        <p><strong>Fecha:</strong> Ene 23 - Ene 25, 2026</p>
                        <p><strong>Lugar:</strong> New York City, New York</p>
                    </div>

                </section>

                <!-- PARTICIPANTES -->
                <section class="participants">
                    <h2>Participantes más relevantes</h2>

                    <ul class="participants-container">

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/snake.png') }}">
                            <span>Hurt</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/cloud.png') }}">
                            <span>Sparg0</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/joker.png') }}">
                            <span>MkLeo</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/diddy kong.png') }}">
                            <span>Tweek</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/Mega man.png') }}">
                            <span>Peabnut</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/Fox.png') }}">
                            <span>Light</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/rob.png') }}">
                            <span>Zomba</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/sonic.png') }}">
                            <span>Sonix</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/ryu.png') }}">
                            <span>Asimo</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/roy.png') }}">
                            <span>Kola</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/Pikachu.png') }}">
                            <span>Shinymark</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/steve.png') }}">
                            <span>Syrup</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/sonic.png') }}">
                            <span>Wrath</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/palutena.png') }}">
                            <span>Lui$</span>
                        </li>

                        <li class="participant">
                            <img src="{{ url_for('static', filename='PJ/mr game and watch.png') }}">
                            <span>Maister</span>
                        </li>

                    </ul>
                </section>

            </div>

        </section>

    </main>

    <footer class="footer">
        <p>© 2025 Smash Hub</p>
    </footer>

</body>
</html>